<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.supersystem.dao.TestMapper">

	<insert id="insert">
		insert into test(id,nick_name,age)
		values (#{id},#{nickName},#{age})
	</insert>

	<select id="selectById" resultType="com.system.supersystem.po.Test">
		select id,nick_name,age from test
		where id = #{id}
	</select>
</mapper>