h1 {
    color: red;
}

p{
    color: green;
}

li {
    list-style-type: none;
}

.li2 {
    color: orange;
    font-weight: bold;
}

li em {
    color: antiquewhite;
}

a:link {
    color: pink;
}

a:visited {
    color: red;
}

a:hover {
    text-decoration: none;
}